<div class="topbar row">
  <div class="logo col-lg">
    <a href="/"></a>
  </div>

  <div class="nav-menu col-lg">
    <ul>
      <li><a href="https://github.com/furybsd/furybsd-livecd/issues/189#issuecomment-695328992">Download</a></li>
      <li><a href="">Handbook</a></li>
      <li><a href="">Github</a></li>
      <li><a href="">Community</a></li>
      <li><a href="/blog" alt="FuryBSD Blog">Blog</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
</div>
