<div class="page-footer row middle-lg">
  <div class="page-footer-content row center-lg middle-lg">
    <!-- SOCIAL MEDIA LINK ICONS -->
    <div>
      <a href="https://twitter.com/furybsd">{% include "icons/twitter.html" %}</a>
    </div>

    <div>
      <a href="https://www.facebook.com/FuryBSD">{% include "icons/facebook.html" %}</a>
    </div>

    <div>
      <a href="https://www.github.com/furybsd">{% include "icons/github.html" %}</a>
    </div>

  </div>
</div>
