---
page_title: FuryBSD – Desktop powered by FreeBSD
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ pate_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  
  <body>
  {% include "layouts/navigation.njk" %}
    {{ content | safe }}
  </body>
</html>
